@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 30px; /* default font-size = 1.0rem */
    background-color: #222;
    font-family: 'Helvetica Neue', Calibri, Verdana, sans-serif;

}
h1{
   	text-shadow: -2px -2px 4px gold, 2px 2px 4px #000;
   	color: #d4d4d4;
	text-align: center;
   	padding-top: 120px;
}
h3{
	font-family: #eee;
    color: #d4d4d4;
    padding-top: 40px;
    padding-left: 20px;
}
p{
	margin-bottom: 30px;
	color: #d4d4d4;
	padding: 20px;
}
nav a, nav a:link, nav a:visited{
	text-decoration: none;

	color: gold;
}
nav a:hover,nav a:active{
	color: #fff;
}
nav ul{
	height: 90px;
	border-top: 12px solid #666;
	border-bottom: 12px solid #666;
	padding-left: 60px;
	padding-top: 12px;
}
nav li{
	list-style: none;
	float: left;
	margin: 0 20px;
}
#wrapper{
	width: 930px;
	margin: 0 auto;
	background-color: #444;
}

#masthead{
	background-image: url("img/saturn.v1.jpg");
	background-repeat: no-repeat;
	height: 300px;
	background-color: #444;
}	
#main{
    background-color: :#222;
    clear: both;
}
#footer{
	padding: 30px 20px;
	background-color: #333;
	font-size: 15px;
}
#footer p{
	color: gray;
}
#footer a{
	color: gold;
}